<div class="content-topic-page">
  <div class="row">
    <div class="card-content leftcolumn">
      <div class="row">
        <h2 class="title-topic" style="padding-bottom: 30px">บทความ</h2>
      </div>
      <div class="row">
        <div class="content-topic">
          <div style="padding: 10px" >
            <a href=""
              ><label>s</label></a
            >
            <p>{{ i.t</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-content rightcolumn">
      <div class="row">
        <h2 class="title-topic" style="padding-bottom: 30px">หมวดหมู</h2>
      </div>
      <div class="row">
        <div class="content-topic">
          <div style="padding: 10px" >
            <a href=""
              ><label>{{ </label></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
